*{box-sizing: border-box;}

body{
  height: 100%;
  width: 100%;
  background-color: #6582bf;
  font-family: Monaco, Lucida Console, Verdana;
}

.banner{
  background-color: #343e8c;
  color: #95a5f5;
  font-family: Monaco, Lucida Console, Verdana;
  font-size: 30px;
  padding: 30px;
  width: 90%;
  margin: 20px;
  border: 8px dashed #1b286b;
  border-radius: 10px;
}

a:link{
  color: #95a5f5;
}

a:hover{
  color: #d7e1fc;
}
